################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorEmoji.Tests/bin/Debug/net10.0
/BlazorEmoji.Tests/obj
/BlazorEmoji.Demo/bin/Debug/net10.0
/BlazorEmoji.Demo/obj
/BlazorEmo.Demo/bin/Debug/net10.0/wwwroot/_framework
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.Demo.dll
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.Demo.pdb
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.Demo.staticwebassets.endpoints.json
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.Demo.staticwebassets.runtime.json
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.dll
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.pdb
/BlazorEmo.Demo/obj/Debug/net10.0/compressed
/BlazorEmo.Demo/obj/Debug/net10.0/ref/BlazorEmo.Demo.dll
/BlazorEmo.Demo/obj/Debug/net10.0/refint/BlazorEmo.Demo.dll
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets/htmlassetplaceholders/build
/BlazorEmo.Demo/obj/Debug/net10.0/webcil/BlazorEmo.Demo.wasm
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.AssemblyInfo.cs
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.AssemblyInfoInputs.cache
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.assets.cache
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.csproj.AssemblyReference.cache
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.csproj.CoreCompileInputs.cache
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.csproj.FileListAbsolute.txt
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.dll
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.GeneratedMSBuildEditorConfig.editorconfig
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.pdb
/BlazorEmo.Demo/obj/Debug/net10.0/BlazorEmo.Demo.sourcelink.json
/BlazorEmo.Demo/obj/Debug/net10.0/dotnet.js
/BlazorEmo.Demo/obj/Debug/net10.0/rbcswa.dswa.cache.json
/BlazorEmo.Demo/obj/Debug/net10.0/rjimswa.dswa.cache.json
/BlazorEmo.Demo/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/BlazorEmo.Demo/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/BlazorEmo.Demo/obj/Debug/net10.0/rpswa.dswa.cache.json
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets.build.json
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets.build.json.cache
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets.development.json
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/BlazorEmo.Demo/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/BlazorEmo.Demo/obj/BlazorEmo.Demo.csproj.nuget.dgspec.json
/BlazorEmo.Demo/obj/project.assets.json
/BlazorEmo.Demo/obj/project.nuget.cache
/BlazorEmo.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_BlazorEmo.Tests
/BlazorEmo.Tests/bin/Debug/net10.0/CoverletSourceRootsMapping_BlazorEmo.Tests
/BlazorEmo.Tests/obj/BlazorEmo.Tests.csproj.nuget.dgspec.json
/BlazorEmo.Tests/obj/Debug/net10.0/BlazorEmo.Tests.AssemblyInfo.cs
/BlazorEmo.Tests/obj/Debug/net10.0/BlazorEmo.Tests.AssemblyInfoInputs.cache
/BlazorEmo.Tests/obj/Debug/net10.0/BlazorEmo.Tests.assets.cache
/BlazorEmo.Tests/obj/Debug/net10.0/BlazorEmo.Tests.csproj.AssemblyReference.cache
/BlazorEmo.Tests/obj/Debug/net10.0/BlazorEmo.Tests.GeneratedMSBuildEditorConfig.editorconfig
/BlazorEmo.Tests/obj/project.assets.json
/BlazorEmo.Tests/obj/project.nuget.cache
