################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorEmo/.vs/BlazorEmo/v18
/BlazorEmo.Demo/bin/Debug/net10.0
/BlazorEmo.Demo/obj
/BlazorEmo.Demo/Properties/launchSettings.json
/BlazorEmo.Demo/wwwroot/lib/bootstrap/dist
/BlazorEmo.Tests/bin/Debug/net10.0/cs
/BlazorEmo.Tests/bin/Debug/net10.0/de
/BlazorEmo.Tests/bin/Debug/net10.0/es
/BlazorEmo.Tests/bin/Debug/net10.0
/BlazorEmo.Tests/obj
/BlazorEmo.Demo/bin/Release/net10.0
/BlazorEmo.Tests/bin/Release/net10.0
/BlazorEmo.Tests/bin/Release/net10.0/.msCoverageSourceRootsMapping_BlazorEmo.Tests
/BlazorEmo.Tests/bin/Release/net10.0/CoverletSourceRootsMapping_BlazorEmo.Tests
/BlazorEmo.Demo/bin/Debug/net10.0/wwwroot/_framework/BlazorEmo.cprnr48zvz.wasm
/BlazorEmo.Demo/bin/Debug/net10.0/wwwroot/_framework/BlazorEmo.cprnr48zvz.wasm
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.staticwebassets.endpoints.json
/BlazorEmo.Demo/obj/Debug/net10.0/webcil/BlazorEmo.wasm
/BlazorEmo.Demo/obj/Debug/net10.0/compressed/3v8e70mdh7-{0}-zmga507cet-zmga507cet.gz
/BlazorEmo.Demo/bin/Debug/net10.0/BlazorEmo.staticwebassets.runtime.json
/README.md
